@model Teste.Models.Livro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <select asp-for="Autor" id="Autor" name="Autor" asp-items="@Model.Autores" class="form-control">
                    <option>@Model.Autor.Nome</option>
                </select>
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtCadastro" class="control-label"></label>
                <input asp-for="DtCadastro" class="form-control" />
                <span asp-validation-for="DtCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemLivro" class="control-label"></label>
                <input asp-for="ImagemLivro" class="form-control" />
                <span asp-validation-for="ImagemLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" id="Status" name="Status" asp-items="@Model.ListaStatus" class="form-control">
                    <option>@Model.Status.Descricao</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
